# Ignore backup directory
/backup

# Go build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.mp4
# Vendor directory (if using vendored dependencies)
/vendor/

# OS/editor noise
.DS_Store
Thumbs.db

# Exclude until Dockerize
.github/workflows
./deploy.txt